 <!-- Modal -->
  <div class="modal fade" id="orderRefModal" role="dialog" ng-controller="OrderReferenceController">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header modal_headerbg">
          <button type="button"   class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Order Reference</h4>
        </div>
        <div class="modal-body">
          <p>Your order has been placed succesfully following is your order id  <strong>{{ref}} . </strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning center-block" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
   