  <!-- start of container-->
<div class="container" >
  <div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4 shadow padA10 marT50 colbg">
      <h4 class="text-center"><strong>Welcome To ShopKart</strong></h4>
	  <form>
		<div class="form-group">
		  <label for="usr">Username</label>
		  <input type="text" class="form-control" id="usr" ng-model="username">
		</div>
		<div class="form-group">
		  <label for="pwd">Password</label>
		  <input type="password" class="form-control" id="pwd" ng-model="password">
		</div>
		<div class="form-group ">
			<input type="submit" class="btn btn-md btn-primary center-block" ng-click="authenticate()" value="Login">
		</div>
	  </form>
    </div>
    <div class="col-md-4"> 
    </div>
  </div>		
</div>
 <!-- end of container-->